.grid {
    position: absolute;
    width: 600px;
    height: 300px;
    border: solid black 1px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
    border: solid black 1px;
    
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: black;
    border: solid black 1px;
    
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 10px;
    border: solid black 1px;
    
}