.Title { text-align: center;
         box-shadow: inset 0 0 1em gold, 0 0 1em red;
         font-size: 36px; }



p{ font-size: 18px}         
.btn {
    
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 1.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-table;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}         


.btn-section {
    display: flexbox;
    text-align: center;

}

.Heroi{
 display: inline-block;
}