
.titulo { text-align: center;
          font-size: 32px;}

.grid{
    justify-content: center;
    display: grid;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    padding: 30px;
    grid-template-columns:  200px;
}

.card{
    width: 100px;
    height: 100px;
    background-color: gray;
    border: 1px solid black;
    border-radius: 9px;
    text-align: center;
}